# Server AND ML
MLFLOW_TRACKING_URI=
MLFLOW_ARTIFACT_PATH=
MLFLOW_EXPERIMENT_PATH=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_MODEL_NAME=
MLFLOW_MODEL_VERSION=

DATABRICKS_HOST=
DATABRICKS_TOKEN=

# Server
CLIENT_URL=

# Client
NUXT_PUBLIC_API_BASE=

# Port for the FastAPI Server on the host machine
SERVER_PORT=

# Port for the MLflow UI on the host machine
MLFLOW_PORT=