MLFLOW_TRACKING_URI=
MLFLOW_ARTIFACT_PATH=
MLFLOW_EXPERIMENT_PATH=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_MODEL_NAME=
MLFLOW_MODEL_VERSION=

DATABRICKS_HOST=
DATABRICKS_TOKEN=

CLIENT_URL=

SERVER_URL=

# Port for the FastAPI Server on the host machine
SERVER_PORT=

# Port for the MLflow UI on the host machine
MLFLOW_PORT=